<header>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="/">
                <h2>barcelona ecommerce</h2>
            </a>
        </div>
        <ul class="navbar_links">
            <li>
                <a href="/cart" class="cart_link">
                    <span class="cart_text">Cart</span>
                </a>
            </li>
            <li>
                <a href="/animation" class="animation_link">
                    <span class="animation_text">Animation</span>
                </a>
            </li>
        </ul>
    </nav>
</header>