<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="animation.css">
  </head>
  <body>

    
    <%- include('./partials/header.ejs') %>

    <main>
        <%- body -%>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>